<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title> 
        <link rel="stylesheet" href="../index.css">
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="#">Sobre nós</a></li>
                    <li><a href="#">Processo Seletivo</a></li>
                    <li><a href="#">Banco de oportunidades</a></li>
                    <li><a href="#">Empresas</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Dúvidas</a></li>
                </ul>
            </nav>
        </header>

        <main>

            <div id="carrosselContainer">
            
                <div id="app">

                    <h1>Incubadora </h1>
    
                    <p>Sobre a SPRINT UTPR-CP - Incubadora	de projetos Nível I e Nível II de 
                    empreendedorismo que tem como principal objetivo possibilitar o crescimento desses empreendimentos</p>
    
                              
                </div>


                <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
                <button class="next" onclick="moveSlide(1)">&#10095;</button>
            </div>


            <div id="informacoesContent">

                <h1>QUEM SOMOS</h1>

                <div id="informacoesContainer">

                    <div class="informacoes">
                        <h2>Informações</h2>
                        <img src="" alt="">
                    </div>

                    <div class="informacoes">
                        <h2>Informações</h2>
                        <img src="" alt="">
                    </div>

                    <div class="informacoes">
                        <h2>Informações</h2>
                        <img src="" alt="">
                    </div>

                </div>

            </div>

            <div id="informacoesParcerias">

                <h1>PARCERIAS</h1>

                <div id="parceriasContainer">

                    <div class="imagemParcerias">
                        <img src="../images/CNPQ.png" alt="" width="150" height="100">

                    </div>

                    <div class="imagemParcerias">
                        <img src="../images/FINEP.png" alt="" width="200" height="200">
                        
                    </div>
            
                </div>

            </div>
           

        </main>
       
        <footer>
            <div class="footerContainer">
                <div class="footerLogo">
                
                    <img src="../images/logo1.png" alt="" width="200" height="200">
                    <p>Incubadora de Inovações da Universidade Tecnológica tem como missão abrigar empresas cujos produtos,
                    processos ou serviços são gerados a partir de resultados de pesquisas aplicadas, nos quais a tecnologia
                     representa alto valor agregado.</p>

                    <p>Dados de Contato e Endereço</p>

                    <p>incubadora-cp@utfpr.edu.br</p>

                    <p>(43) 3133-3887</p>

                    <p>Rua do Expedicionários, 568, Cornélio Procópio - PR</p>

                </div>
    
                <div class="footerLogo">
                    
                    <h2>Menu</h2>
                    <p>Sobre Nós
                    <p>Processo Seletivo </p>
                    <p>Banco de Oportunidades</p>
                    <p>Empresas</p>
                    <p>Blog</p>
                    <p>Dúvidas</p>
                </div>
    
                <div class="footerLogo">
                    
                    <h2>Entre em contato</h2>
                    <p> (43) 3520-4067 ou  (43) 3520-4068</p>
                    <p> Rua do Expedicionários, 568, Cornélio Procópio - PR </p>
                    <form action="submit" class="formContato">
                        <input type="text" name="" id="nome" placeholder="Nome">
                        <input type="text" name="" id="email" placeholder="E-mail">
                        <input type="text" name="" id="assunto" placeholder="Assunto">
                        <input type="text" name="" id="Mensagem" placeholder="Mensagem">
                        <button type="submit" class="btEnviar">Enviar</button>
                    </form>
                    
                </div>

            </div>
           

            <div class="footerCopyright">
                <p>© Copyright 2024 IUT –Incubadora de Inovações da Universidade Tecnológica. Todos os direitos reservados. Desenvolvido pela Agência BUZZ</p>
            </div>
        </footer>

        <script src="../index.js"></script>
    </body>

    
</html>